body {
	color: black;
	background: #F5F5F5;
	font-family: 'Monaco', Monospace;
	padding-top: 60px;

}

.card {
	background-color: #E6E6FA;
	margin-top: 100px;
	border-top-style: solid;
	border-top-color: #1E90FF;
	width: 400px;
	padding: 10px;
	margin: 15px -90px;
}

.profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.chip img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}

 .retweet-scroll {
 	width: 380px;
 	height: 500px;
 	overflow-y: scroll;
 }

.card2 {
	background-color: #E6E6FA;
	margin-top: 100px;
	border-top-style: solid;
	border-top-color: #1E90FF;
	width: 700px;
	padding: 10px;
	margin: 15px 0px;
}

.img-circle {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.img-circle-retweet {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.img-circle-comment {
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.card22 {
	background-color: #E6E6FA;
	padding: 10px;
	margin-top: 70px;
}

.img-post {
	height: 350px;
	width: 680px;
}

.card3 {
	background-color: #E6E6FA;
	margin-top: 100px;
	border-top-style: solid;
	border-top-color: #1E90FF;
	width: 340px;
	padding: 10px;
	margin: 15px 60px;
}

.following-scroll {
	width: 320px;
	height: 200px;
	overflow-y: scroll;
}

.follower-scroll {
	width: 320px;
	height: 200px;
	overflow-y: scroll;
}

.error-message {
	color: red;
	font-family: 'Arial', Sans-serif;
	font-size: 15px;
}

.show-password {
	color: #30302f;
}

/*@media screen and (min-width: 1400px) and (max-width: 1920px) {
	.card {
		width: 380px;
		margin: 15px -65px;
	}
	.retweet-scroll {
		width: 357px;
		height: 500px;
		overflow-y: scroll;
	}
	.card2 {
		margin: 15px 2px;
		width: 670px;
	}
	.img-post {
		width: 650px;
	}
	.card3 {
		margin: 15px 28px;
		width: 340px;
	}
	.following-scroll {
		width: 320px;
		height: 200px;
		overflow-y: scroll;
	}
	.follower-scroll {
		width: 320px;
		height: 200px;
		overflow-y: scroll;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1366px)  {
	.card {

		width: 350px;
		margin: 15px -40px;
	}
	.retweet-scroll {
		width: 325px;
		height: 500px;
		overflow-y: scroll;
	}
	.card2 {
		width: 530px;
		margin: 15px 80px;
	}
	.img-post {
		width: 510px;
	}
	.card3 {
		margin: 15px 140px;
		width: 320px;
	}
	.following-scroll {
		width: 300px;
		height: 200px;
		overflow-y: scroll;
	}
	.follower-scroll {
		width: 300px;
		height: 200px;
		overflow-y: scroll;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px)  {
	.card {

		width: 350px;
		margin: 15px -40px;
	}
	.retweet-scroll {
		width: 325px;
		height: 500px;
		overflow-y: scroll;
	}
	.card2 {
		width: 530px;
		margin: 15px 80px;
	}
	.img-post {
		width: 510px;
	}
	.card3 {
		margin: 15px 140px;
		width: 320px;
	}
	.following-scroll {
		width: 300px;
		height: 200px;
		overflow-y: scroll;
	}
	.follower-scroll {
		width: 300px;
		height: 200px;
		overflow-y: scroll;
	}
}

@media screen and (max-width: 768px) {
	.card {
		width: 200px;
		margin: 15px -30px;
	}
	.retweet-scroll {
		width: 175px;
		height: 500px;
		overflow-y: scroll;
	}
	.card2 {
		margin: 15px 2px;
		width: 470px;
	}
	.img-post {
		width: 450px;
	}
	.card3 {
		margin: 15px 120px;
		width: 320px;
	}
	.following-scroll {
		width: 300px;
		height: 200px;
		overflow-y: scroll;
	}
	.follower-scroll {
		width: 300px;
		height: 200px;
		overflow-y: scroll;
	}
}*/