body {
	color: black;
	background: #F5F5F5;
	font-family: 'Monaco', Monospace;
	padding-top: 60px;
}

/*Login & Signup Page*/
#login .card {
	background-color: #E6E6FA;
	margin-top: 100px;
	border-top-style: solid;
	border-top-color: #1E90FF;
	width: 500px;
	padding: 10px;
	margin: 90px 400px;
}

.avatar {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.login-form .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
}

.error-message {
	color: red;
	font-family: 'Arial', Sans-serif;
	font-size: 15px;
}

.show-password {
	color: #30302f;
}

/*@media screen and (min-width: 1200px) and (max-width: 1920px) {
	#login .card {
		margin: 90px 400px;
	}
}

@media screen and (min-width: 1196px) and (max-width: 1360px) {
	#login .card {
		margin: 90px 300px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1189px) {
	#login .card {
		margin: 90px 100px;
	}
}*/
